
body{
	margin:0;
}

.main-content{
	width:900px;
	padding-top:0;
	margin:20px auto;
	height:100%;
	border:1px solid #cdcdcd;
	background:#fdfdfd;
}
.linkai{
	margin-top:0;
	width:100%;
	height:2.5em;
	background:#dedede;
}
.linkai ul {
	padding:0.8em 4em;
	margin:0;
}
.linkai ul li{
	display:inline;
	margin:0 2em;
}
.current{
	color: #454545;
	text-decoration: underline;
}
.linkai ul li a{
	text-decoration: none;
	color: #454545;
}
.linkai ul li a:hover,.linkai ul li a:active{
	color: #454545;text-decoration: underline;
}

.forma{
	margin:1em 5em 2em;
}
.forma table, .forma table tr td{
	border:none;
}
.forma table tr{
	border:1px solid #dedede;
}

.container{
	margin:2em auto;
	width:80%;
}

.clear{
	clear:both;
}
table,tr,th,td{
	padding:5px 5px 5px;
	border-collapse: collapse;
	border:1px solid #cdcdcd;
}
th{
	padding:10px;
	background:#dedede;
}
button,label{
	margin-top:10px;
}
input{
	margin-bottom:10px;
}
table{
	min-width:400px;
}
.links{
	margin-right:10px;
	margin-left:10px;
	padding:10px;
}
.success{
	color:#22dd11;
}
.error{
	color:#ff2211;
}

